.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
src/lib/notes
src/lib/html
.vercel
src/routes/testing
wiki-generator-template.code-workspace
*.pem
static/data.db