@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
	@apply h-full;
}

/* Gradient background */
body[data-theme='cosmos'] {
	background-image: radial-gradient(
			at 0% 0%,
			rgba(var(--color-primary-800) / 0.2) 0px,
			transparent 50%
		),
		radial-gradient(at 100% 100%, rgba(var(--color-tertiary-800) / 0.1) 0px, transparent 50%);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* Icon after external links */
a[href^="http"]::after,
a[href^="https://"]::after
{
	@apply ml-1;
	display: inline-block;
	content: '↗';
	font-weight: bold;
}

/* Styles for prerendered HTML */
.pre-html {
	* {
		@apply break-words;
	}

	h1 {
		@apply h1;
	}

	h2 {
		@apply h2;
	}

	h3 {
		@apply h3;
	}

	h4 {
		@apply h4;
	}

	h5 {
		@apply h5;
	}

	h6 {
		@apply h6;
	}

	a {
		@apply anchor underline-offset-4 text-primary-800-200 hover:underline;
	}

	code {
		@apply code;
	}

	blockquote {
		@apply blockquote not-italic;
	}

	ul,
	ol {
		@apply list-outside space-y-1 pl-4 marker:text-surface-600-400;
	}

	ul {
		@apply list-disc;
	}

	ol {
		@apply list-decimal;
	}

	ul.contains-task-list {
		@apply list-none;
	}

	input.task-list-item-checkbox {
		@apply checkbox mr-2 cursor-default;
	}

	hr {
		@apply hr;
	}

	table {
		@apply table;
	}

	div.note-embed {
		@apply border-l-2 pl-6 border-secondary-300-700;
	}

	section.secret-block {
		@apply rounded !bg-opacity-80 px-6 py-4 bg-surface-200-800;

		.secret-block-header {
			@apply pb-2 font-bold type-scale-3;
		}

		.secret-block-content {
			@apply space-y-4;
		}
	}

	img {
		@apply mx-auto;
	}

	section.footnotes ol {
		@apply mt-6;
	}

	/* Callouts */
	.callout {
		@apply overflow-hidden rounded !bg-opacity-40 p-6 pt-4 bg-primary-50-950;
	}

	.callout.is-collapsible {
		@apply transition-all;
	}

	.callout.is-collapsed {
		@apply space-y-0 py-4;
	}

	.callout-title {
		@apply flex items-start gap-2 font-bold;
	}

	.callout.is-collapsible .callout-title {
		@apply cursor-pointer;
	}

	.callout.is-collapsible .callout-fold svg {
		@apply -rotate-90 transition-transform;
	}

	.callout-content {
		@apply mt-4 space-y-4;
	}

	/* Callout colors */
	.callout[data-callout='info'],
	.callout[data-callout='todo'] {
		@apply bg-primary-50-950;

		.callout-title {
			@apply text-primary-500;
		}
	}

	.callout[data-callout='abstract'],
	.callout[data-callout='tip'],
	.callout[data-callout='hint'],
	.callout[data-callout='important'] {
		@apply bg-secondary-50-950;

		.callout-title {
			@apply text-secondary-500;
		}
	}

	.callout[data-callout='example'] {
		@apply bg-tertiary-50-950;

		.callout-title {
			@apply text-tertiary-500;
		}
	}

	.callout[data-callout='success'],
	.callout[data-callout='check'],
	.callout[data-callout='done'] {
		@apply bg-success-50-950;

		.callout-title {
			@apply text-success-500;
		}
	}

	.callout[data-callout='question'],
	.callout[data-callout='help'],
	.callout[data-callout='faq'],
	.callout[data-callout='warning'],
	.callout[data-callout='caution'],
	.callout[data-callout='attention'] {
		@apply bg-warning-50-950;

		.callout-title {
			@apply text-warning-500;
		}
	}

	.callout[data-callout='failure'],
	.callout[data-callout='fail'],
	.callout[data-callout='missing'],
	.callout[data-callout='danger'],
	.callout[data-callout='error'],
	.callout[data-callout='bug'] {
		@apply bg-error-50-950;

		.callout-title {
			@apply text-error-500;
		}
	}

	.callout[data-callout='quote'],
	.callout[data-callout='cite'] {
		@apply bg-surface-500;

		.callout-title {
			@apply text-surface-800-200;
		}
	}
}
