/* Additional rehype-callouts styles for Obsidian callouts (original from https://github.com/lin-stephanie/rehype-callouts/blob/main/src/themes/obsidian/index.css) */
/* Slightly modified from the originals */

.callout-title {
	color: var(--callout-color-light);
}

.dark .callout {
	background-color: rgb(from var(--callout-color-dark) r g b / 0.1);
}

.callout {
	background-color: rgb(from var(--callout-color-light) r g b / 0.1);
	@apply w-full overflow-hidden rounded p-6 pt-4;
}

.dark .callout-title {
	color: var(--callout-color-dark);
}

.callout-title {
	@apply mb-4 flex items-start gap-2;
	font-size: inherit;
}

.callout-icon {
	display: flex;
	flex: 0 0 auto;
	align-items: center;
}

.callout-title-inner {
	color: inherit;
	font-weight: bold;
}

.callout-content {
	@apply space-y-2;
}

.callout-collapsible .callout-title {
	cursor: pointer;
}

.callout-collapsible .callout-fold {
	display: flex;
	align-items: center;
	padding-inline-end: 8px;
}

.callout-collapsible > .callout-title .callout-fold svg {
	transform: rotate(-90deg);
	transition: transform 100ms ease-in-out;
}

.callout-collapsible[open] > .callout-title .callout-fold svg {
	transform: none;
}

.callout-icon::after,
.callout-fold::after {
	content: '\200B';
}

.callout-icon svg,
.callout-fold svg {
	width: 18px;
	height: 18px;
}
